<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.cordova.apptentive"
        version="0.0.7">
    
    <name>Apptentive</name>
	<description>Apptentive Plugin For Cordova</description>
    <keywords>apptentive</keywords>
    
    <js-module src="www/apptentive.js" name="Apptentive">
        <clobbers target="navigator.feedback" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ApptentivePlugin" >
                <param name="android-package" value="com.apptentive.cordova.bridge"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <!-- GET_ACCOUNTS IS OPTIONAL -->
            <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    		<!-- Make sure to support high resolution screens so Apptentive's UI looks great. -->
   			 <supports-screens android:largeScreens="true"
                      android:normalScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"/>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="apptentive_api_key" android:value="4888325745f1b92b4f812d187262404668bcf3905b38fb002d9f690c2a564175"/>
            <receiver android:name="com.apptentive.android.sdk.comm.NetworkStateReceiver">
                <intent-filter>
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                </intent-filter>
            </receiver>
        </config-file>
        
        <source-file src="src/android/ApptentiveBridge.java" target-dir="src/com/apptentive/cordova/bridge" />
        <source-file src="src/android/libs/apptentive-android-sdk.jar" target-dir="libs" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/">
            <feature name="ApptentivePlugin">
                <param name="ios-package" value="com.apptentive.cordova.bridge" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/ApptentivePlugin.h" target-dir="ApptentivePlugin"/>
        <source-file src="src/ios/ApptentivePlugin.m" target-dir="ApptentivePlugin"/>
    </platform>
    
</plugin>