<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.apptentive.cordova" version="4.0.2">

    <name>ApptentiveBridge</name>
    <description>Apptentive Plugin For Cordova</description>
    <keywords>apptentive</keywords>
    <engines>
        <engine name="cordova" version=">=3.6.0"/>
    </engines>

    <!-- android -->
    <platform name="android">

        <!-- Require API key -->
        <preference name="ANDROID_APP_KEY"/>
        <preference name="ANDROID_APP_SIGNATURE"/>

        <!-- Define namespace for javascript reference -->
        <js-module src="www/ApptentiveAndroid.js" name="Apptentive">
            <clobbers target="Apptentive"/>
        </js-module>

        <!-- Add dependencies -->

        <!-- Setup Cordova config.xml file -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ApptentiveBridge">
                <param name="android-package" value="com.apptentive.cordova.ApptentiveBridge"/>
            </feature>
        </config-file>

        <!-- Setup Android Manifest file for plugin -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- Make sure to support high resolution screens so Apptentive's UI looks great. -->
            <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:anyDensity="true"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="apptentive_key" android:value="$ANDROID_APP_KEY"/>
            <meta-data android:name="apptentive_signature" android:value="$ANDROID_APP_SIGNATURE"/>
            <meta-data android:name="apptentive_sdk_distribution" android:value="Cordova"/>
            <meta-data android:name="apptentive_sdk_distribution_version" android:value="4.0.2"/>
        </config-file>
        <framework src="com.apptentive:apptentive-android:4.0.1"/>
        <source-file src="src/android/ApptentiveBridge.java" target-dir="src/com/apptentive/cordova"/>
        <source-file src="src/android/JsonHelper.java" target-dir="src/com/apptentive/cordova"/>
    </platform>


    <!-- ios -->
    <platform name="ios">
        <!-- Require API key -->
        <preference name="IOS_APP_KEY"/>
        <preference name="IOS_APP_SIGNATURE"/>

        <js-module src="www/ApptentiveIos.js" name="Apptentive">
            <clobbers target="Apptentive"/>
        </js-module>

        <config-file target="config.xml" parent="/widget">
            <feature name="ApptentiveBridge">
                <param name="ios-package" value="ApptentiveBridge"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="ApptentiveKey">
            <string>$IOS_APP_KEY</string>
        </config-file>

        <config-file target="*-Info.plist" parent="ApptentiveSignature">
            <string>$IOS_APP_SIGNATURE</string>
        </config-file>

        <config-file target="*-Info.plist" parent="ApptentivePluginVersion">
            <string>4.0.2</string>
        </config-file>

        <!-- ApptentiveBridge -->
        <header-file src="src/ios/ApptentiveBridge.h" target-dir="Apptentive"/>
        <source-file src="src/ios/ApptentiveBridge.m" target-dir="Apptentive"/>

        <!-- Apptentive SDK -->
        <framework src="src/ios/Apptentive.framework" embed="true" custom="true"/>

        <!-- required system frameworks -->
        <framework src="Accelerate.framework" weak="true"/>
        <framework src="CoreData.framework" weak="true"/>
        <framework src="CoreTelephony.framework" weak="true"/>
        <framework src="CoreText.framework" weak="true"/>
        <framework src="Foundation.framework" weak="true"/>
        <framework src="QuartzCore.framework" weak="true"/>
        <framework src="Storekit.framework" weak="true"/>
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="UIKit.framework" weak="true"/>

        <hook type="after_plugin_add" src="scripts/addStripArchBuildPhase.js"/>
    </platform>

</plugin>
