<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.cordova.apptentive"
        version="0.0.7">
    
    <name>ApptentiveBridge</name>
	<description>Apptentive Plugin For Cordova</description>
    <keywords>apptentive</keywords>
    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>
    

    <dependency id="com.phonegap.plugins.PushPlugin" url="https://github.com/phonegap-build/PushPlugin" />

    <!-- android -->
    <platform name="android">
        <!-- Require API key -->
        <preference name="ANDROID_API_KEY" />

        <js-module src="www/ApptentiveAndroid.js" name="Apptentive">
            <clobbers target="Apptentive" />
        </js-module>
        
        <dependency id="com.google.playservices@21.0.0" url="https://github.com/MobileChromeApps/google-play-services" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ApptentiveBridge" >
                <param name="android-package" value="com.apptentive.cordova.bridge.ApptentiveBridge"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            
            <!-- GET_ACCOUNTS IS OPTIONAL -->
            <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

            <!-- Make sure to support high resolution screens so Apptentive's UI looks great. -->
             <supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:anyDensity="true"/>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="application">
            <!-- TODO REMOVE AFTER DEVELOPMENT IS COMPLETE -->
            <meta-data android:name="apptentive_log_level" android:value="VERBOSE"/>
            <meta-data android:name="apptentive_debug" android:value="true"/>
            
            <activity android:name="com.apptentive.android.sdk.ViewActivity" android:theme="@style/Apptentive.Theme.Transparent"/>
            <meta-data android:name="apptentive_api_key" android:value="$ANDROID_API_KEY"/>
        </config-file>

        <!-- Grab all the apptentive integration files -->
        <framework src="src/android/ApptentiveSDK" custom="true" />
        <source-file src="src/android/ApptentiveBridge.java" target-dir="src/com/apptentive/cordova/bridge" />
        <source-file src="src/android/JsonHelper.java" target-dir="src/com/apptentive/cordova/bridge" />

    </platform>
    

    <!-- ios -->
    <platform name="ios">
        <!-- Require API key -->
        <!-- <preference name="IOS_API_KEY" />  -->

        <js-module src="www/ApptentIos.js" name="Apptentive">
            <clobbers target="Apptentive" />
        </js-module>

        <config-file target="config.xml" parent="/widget">
            <feature name="ApptentiveBridge">
                <param name="ios-package" value="ApptentiveBridge" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/ApptentiveBridge.h" target-dir="Apptentive"/>
        <source-file src="src/ios/ApptentiveBridge.m" target-dir="Apptentive"/>
    </platform>
    
</plugin>